html {
  height: -webkit-fill-available;
}

* {
  box-sizing: border-box;
}

body,
footer,
footer nav {
  display: flex;
}

body,
footer {
  flex-flow: column;
  justify-content: space-between;
}

footer nav {
  flex-wrap: wrap;
}

footer {
  gap: 0.5rem;
}

footer nav {
  gap: 0.25rem;
}

footer nav {
  align-items: baseline;
}

body,
#modal section,
#map {
  width: 100%;
}

#map {
  height: 100%;
}

body {
  height: 100dvh;
  max-height: -webkit-fill-available;
}

.marker {
  width: 33.333vw;
  height: 33.333vw;
  max-width: 175px;
  max-height: 175px;
}

button {
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
  font-family: inherit;
}

.marker,
nav label {
  border-radius: 0.25rem;
}

nav input[type=radio],
.hidden {
  display: none;
}

body,
button,
.mapboxgl-popup-content {
  margin: 0;
}

footer nav b {
  margin: 0.25rem;
}

footer {
  padding: 0.5rem;
}

#modal #title,
#modal p u {
  padding: 0.25rem;
}

#modal button {
  padding: 0 1rem;
}

h1 button {
  padding: 0.5rem 0.25rem;
}

nav label {
  padding: 0 0.25rem;
}

body,
.mapbox-improve-map {
  font-family: 'Hina Mincho', serif;
}

h1 button {
  font-style: italic;
}

h1 {
  font-size: 200%;
}

h1 button,
h3 {
  font-size: 125%;
  font-weight: 400;
}

nav label ruby rt {
  font-size: 75%;
}

nav label:hover,
nav input[type=radio]:checked+label {
  color: #fff;
  background: #ccc;
  border: solid 2px #ccc;
}

.marker,
nav label {
  border: solid 2px;
  color: #000;
}

h1 button {
  color: #fff;
  text-shadow:
    1px 1px 0 #000,
    2px 2px 0 #000,
    3px 3px 0 #000,
    4px 4px 0 #000,
    5px 5px 0 #000,
    6px 6px 0 #000,
    7px 7px 0 #000,
    8px 8px 0 #000,
    9px 9px 0 #000;
}

.marker {
  box-shadow:
    1px 1px 0 #000,
    2px 2px 0 #000,
    3px 3px 0 #000,
    4px 4px 0 #000,
    5px 5px 0 #000;
}

h1 button {
  writing-mode: vertical-rl;
}

button:hover,
.marker:hover,
.radio label:hover {
  cursor: pointer;
}

h1 {
  position: fixed;
}

h1 {
  top: 0;
  left: 0;
  z-index: 1;
}

h1 button,
nav label {
  transition: 1s;
}

#modal ol,
.marker {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}